@import "../../style/mixins";
@import "../../style/colors";

.items_block{
  width: 450px;
  padding: 20px 10px;
  background: $items_bg;
  box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.5);


  & h2{
    @include fonts(400, 32px, 32px, $accent);
  }

  form{
    @include display-flex;
    gap: 10px;

    & input{
      flex: 1 1 auto;
      @include fonts(400, 16px, 16px, $accent);
      height: 36px;
      @include display-flex;
      box-sizing: border-box;
      padding: 0 10px;

    }
    & button{
      flex: 1 1 90px;
      @include fonts(400, 16px, 16px, $white);
      @include display-flex;
      height: 36px;
      box-sizing: border-box;
      background: $button_bg;
      border: none;
      cursor: pointer;
      border-radius: 4px;
    }
  }

  .items{
    margin-top: 20px;

    .item{
      padding: 0 10px;
      @include display-flex;
      height: 50px;
      border: 1px solid $accent;
      border-radius: 4px;
      gap: 16px;

      & .name{
        width: calc(100% - 70px);
      }

      & .count{
        width: 26px;
        height: 20px;
        background: $button_bg;
        @include fonts(400, 16px, 16px, $white);
        @include display-flex;
        border-radius: 50%;
      }

      & .delete{
        width: 70px;
        @include fonts(400, 16px, 16px, $hot_pink);
        background: $white;
        border: 1px solid $hot_pink;
        border-radius: 4px;
        height: 36px;
      }
    }

    .active{
      border-left: 3px solid $hot_pink;
    }
  }


}